.task {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.10);
}
.task__input {
  flex: 1 0 0%;
  padding: 18px 0;
}
.task__category {
  flex: 0 0 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task__action {
  flex: 0 0 60px;
  display: flex;
}
.task__action-item,
.task__action-item-back {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
}
.task__action-item--flipped {
  transform: rotateY(180deg);
}
.task__action-item-back {
  margin-left: -100%;
  transform: rotateY(180deg);
}
.task__action-item-back--flipped {
  transform: rotateY(0deg);
}