.category {
  
  display: flex;
}
.category + .category {
  margin-top: 8px;
}
.category__box {
  padding: 12px;
  border-radius: 10px;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  flex: 1 0 0%;
}
.category__action-item-back {
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.25s ease-in-out;
  transform: rotateY(180deg);
}
.category__action-item-back--flipped {
  transform: rotateY(0deg);
}