.checkbox,
.checkbox--checked {
	display: flex;
	border: 2px solid rgba(0,0,0, 0.2);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
  user-select: none;
  cursor: pointer;
}
.checkbox--checked {
  border: 1px solid #006CFF;
	background-color: #006CFF;
	fill: #fff;
}
.checkbox__input {
	opacity: 0;
	position: absolute;
  width: 0;
  height: 0;
}
