.app {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.app__header {
  flex: 0 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px;
}
.app__duedate {
  font-size: 41px;
  line-height: 1;
  margin: 0 0 0 44px;
}
.app__box {
  flex: 1 1 0%;
  min-height: 0;
  overflow: auto;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
}